{{define "Create-Conciliacao"}}
<!-- Create Conciliacoes -->
<div class="w3-container">
    <div id="create-form" class="w3-modal">
        <div class="w3-modal-content w3-card-8 w3-animate-zoom" style="max-width: 600px;">
            <!-- head -->
            <div class="w3-container w3-teal">
                <h2>Criar nova conciliação</h2>
                <span class="w3-closebtn w3-hover-red w3-container w3-padding-8 w3-display-topright"
                      onclick="document.getElementById('create-form').style.display='none'">&times;</span>
            </div>
            <form class="w3-container" action="/createConciliacao" method="post">
				<label class="w3-label">Crédito</label>
                <select class="w3-input" name="CreditoForInsert" id="CreditoForInsert">
					<option value=""></option>
					{{range $index, $credito := .Creditos }}
		                <option value="{{$credito.Id}}" {{if eq true $credito.Selected}} selected="selected"{{end}}>
							{{$credito.Name}}
						</option>
		            {{end}}
	            </select>                
                <select class="w3-input" name="FaturaConsumoForInsert" id="FaturaConsumoForInsert">
					<option value=""></option>
					{{range $index, $fatura := .FaturasConsumo }}
		                <option value="{{$fatura.Id}}" {{if eq true $fatura.Selected}} selected="selected"{{end}}>
							{{$fatura.Name}}
						</option>
		            {{end}}
	            </select>                
                <button class="w3-btn w3-teal w3-margin-top w3-margin-bottom w3-right" type="submit">Criar</button>
            </form>
        </div>
    </div>
</div>
{{end}}