{{ define "Menu-Acordos" }}
<div id="mySidenav" class="sidenav">
	<div sytle="position:absolute;top:0px;left:25px;z-index:1"><br>
	    <img src="/statics/images/solier.png" alt="Solier" class="logo w3-circle">
	</div>
	<br>
	<br>
  <a href="javascript:void(0)" class="closebtn" onclick="navGadget()">&times;</a>
  <a href="#">Sobre</a>
  <a href="/inicio">Início</a>
  {{if (call .LoggedUser.HasPermission "listClientes")}}
  <a href="/workflows">Clientes</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listContratosConsumo")}}
  <a href="/actions">Contratos de Consumo</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listContratosGeracao")}}
  <a href="/status">Contratos de Geração</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listContratosReparticao")}}
  <a href="/roles">Contrato de Repartição</a>
  {{end}}
</div>
{{end}}