{{ define "Menu" }}
<div id="mySidenav" class="sidenav">
	<div sytle="position:absolute;top:0px;left:25px;z-index:1"><br>
	    <img src="/statics/images/solier.png" alt="Solier" class="logo w3-circle">
	</div>
	<br>
	<br>
  <a href="javascript:void(0)" class="closebtn" onclick="navGadget()">&times;</a>
  <a href="#">Sobre</a>
  {{if (call .LoggedUser.HasPermission "listOrders")}}
  <a href="/orders">Pedidos</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listUsers")}}
  <a href="/usuarios">Usuários</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listClientes")}}
  <a href="/clientes">Clientes</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listProdutos")}}
  <a href="/produtos">Produtos</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listParques")}}
  <a href="/parques">Parques</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listConcessionarias")}}
  <a href="/concessionarias">Concessionarias</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listRoles")}}
  <a href="/roles">Papéis</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listFeatures")}}
  <a href="/features">Funcionalidades</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listStatus")}}
  <a href="/status">Status</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listActions")}}
  <a href="/acoes">Ações</a>
  {{end}}
  {{if (call .LoggedUser.HasPermission "listWorkflows")}}
  <a href="/workflows">Workflows</a>
  {{end}}
</div>
{{end}}